<!DOCTYPE html>
<html lang="zh" dir="auto" style="background-color: #FAF8F1;">
    <header>
        <h1>
            <a style="color: #111111; font-size: 64px; font-style: oblique">Intelligeneer Solution</a>
            <a href="https://www.intelligeneer.com/"><img src="img/Logo.jpg" height="57" width="60" alt="Intelligeneer" style="float:right; margin: 5px;" ></a>
            </br>
            <a style="color: #FFA500; font-size: 32px">WISE-POSPAL-PUDU-ADAPAY</a>
        </h1>
    </header>
    <br/>
    <body class="list" id="buttons">
        <main class="main">
            <div class="buttons" align="center">
                <a class="button" href="/" rel="noopener" title="🏖 Todo">
                    <span class="button-inner" style="font-size: 32px; padding: 10px">
                        📺 WISE
                    </span>
                </a>
                <a class="button" href="/pospal" rel="noopener" title="💻 Pospal" >
                    <span class="button-inner" style="font-size: 32px; padding: 10px">
                        💻 Pospal
                    </span>
                </a>
                <a class="button" href="/robot" rel="noopener" title="🤖 Robot">
                    <span class="button-inner" style="font-size: 32px; padding: 10px">
                        🤖 PUDU
                    </span>
                </a>
                <a class="button" href="/" rel="noopener" title="📕 About">
                    <span class="button-inner" style="font-size: 32px; padding: 10px">
                        📕 About
                    </span>
                </a>

            </div>
        </main>
        <br>
    </body>
    </br></br>
    <footer class="footer" style="bottom: 10px; position: fixed; left: 10px">
        <style>
            .title {
                font-size: 15px
            }
        </style>

    <div>
        <div style="width:320px;float:left;height:240px; margin:5px">
            <img srcset="//www.intelligeneer.com/cdn/shop/files/WechatIMG54_275x.jpg?v=1649052324 275w,//www.intelligeneer.com/cdn/shop/files/WechatIMG54_550x.jpg?v=1649052324 550w,//www.intelligeneer.com/cdn/shop/files/WechatIMG54_710x.jpg?v=1649052324 710w,//www.intelligeneer.com/cdn/shop/files/WechatIMG54.jpg?v=1649052324 956w"
                src="//www.intelligeneer.com/cdn/shop/files/WechatIMG54_550x.jpg?v=1649052324"
                sizes="(min-width: 200px) 200px,(min-width: 300px) 300px,calc(100vw - 30px)"
                alt=""
                height="240"
                width="320"
                loading="lazy"
                style="">
        </div>
        <div style="width: 360px; float:left; height:240px; margin:5px">
                <div style="font-size: 15px">
                    <h3 class="title">Address:</h3>
                    <p>U5/35 Learoyd Road Acacia Ridge QLD 4110</p>
                    <h3 class="title">Operating hours:</h3>
                    <p>Mon - Fri 9am - 5pm</p>
                    <h3 class="title">Tel:</h3>
                    <p>1300 545 886</p>
                </div>
        </div>
        <div style="width: 360px; float:left; height:240px">
            <h3 class="title">Email:</h3>
            <div class="rte" style="font-size: 15px">
                <p>
                    General Enquiry:
                    <a style="background-color: lightyellow" href="mailto: info@intelligeneer.com">
                        info@intelligeneer.com
                    </a>
                </p>
                <p>
                    Pospal Enquiry:
                    <a style="background-color: lightyellow" href="mailto: christan@intelligeneer.com">
                        christan@intelligeneer.com
                    </a>
                </p>
                <p>
                    Robot Enquiry:
                    <a style="background-color: lightyellow" href="mailto: tech@intelligeneer.com">
                        tech@intelligeneer.com
                    </a>
                </p>
            </div>
        </div>
        <div style="width: 360px; float:left; height:240px; margin:5px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.840182958824!2d153.03483407524536!3d-27.598484022205323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9159ebd2426325%3A0xda33e6e1ce76604!2sIntelligeneer%20Solution!5e0!3m2!1sen!2sau!4v1710985381226!5m2!1sen!2sau"
                width="360"
                height="240"
                style="border:0;"
                allowfullscreen=""
                loading="eager"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</footer>
</html>
